<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API WeatherAPP</h1>
    <p>Desenvolvida no ambito da cadeira de WEB do MEI</p>
    <p>8836 - João Faria</p>
    <p>8839 - Hugo Lourenço</p>
    <p>9308 - Abdulay Abreu</p>
  </body>
</html>
